h1 {
    color: red;
    text-decoration: underline;
    font-size: 40px;
    font-family: "Honk", system-ui;
}

#Container {
    width: 1000px;
    border: 2px solid red;
    background-color: skyblue;
}

body,
html {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}

#Nav {
    text-align: center;
}

.nav-list {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 15px;
}

#Header {
    border: 2px solid blue;
    text-align: center;
}

#Content {
    border: 2px solid red;
    height: 610px;
}

#Footer {
    border: 2px solid violet;
    text-align: center;
}

.section-text {
    width: 750px;
    float: left;
    padding-left: 10px;
}

img {
    float: left;
}

#section-header {
    padding-left: 20px;
}

.gallery {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
}
#contact-form{
    width: 500px;
    margin:auto;


}
table{
border: 1px solid black;
margin-left: 150px;
width: 650px;
border-collapse: collapse;

}
td{
border: 1px solid black;


}

table-data, tr:nth-child(odd){

background-color: #d5d5d5;

}
table-data, tr:nth-child(even){

    background-color: #8b8b8b;
    
    }